/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swoopIn {
  0% {
    transform: translate(-1500px, 1500px);
    -webkit-transform: translate(-1500px, 1500px);
    -moz-transform: translate(-1500px, 1500px);
    -ms-transform: translate(-1500px, 1500px);
    -o-transform: translate(-1500px, 1500px);
  }
  100% {
  }
}

.artwork {
  animation-name: fadeIn, swoopIn;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 1;
  background-image: url("../../images/artwork/brickWall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-blend-mode: difference;
  background-color: #0a5eb7;
  min-height: 100vh;
  padding: 15vh 0vh;
}

.intro {
  padding-bottom: 7.5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  color: white;
  font-size: 6vh;
  text-align: center;
}

.allArt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  flex-basis: 20%;
  padding-top: 7.5vh;
}

.art {
  max-width: 28vw;
  border: 2px solid #0a5eb7;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.art:hover {
  filter: brightness(1.1);
  border: 2px solid rgb(0, 153, 255);
  -webkit-filter: brightness(1.1);
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
}

.modal {
  z-index: 100;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImage {
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
}
