/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swoopIn {
  0% {
    transform: translate(-500px, 1500px);
    -webkit-transform: translate(-500px, 1500px);
    -moz-transform: translate(-500px, 1500px);
    -ms-transform: translate(-500px, 1500px);
    -o-transform: translate(-500px, 1500px);
  }
  100% {
  }
}

.contact {
  animation-name: fadeIn, swoopIn;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.intro {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link .backBtn {
  color: black;
  text-decoration: none;
  font-size: 1vw;
  background-color: #b3dff5;
  padding: 10px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.link .backBtn:hover {
  text-decoration: none;
  color: red; /* make same color as websites home link icon */
  background-color: white;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}
.title {
  color: white;
  font-size: 4vh;
}
