/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glideIn {
  0% {
    transform: translate(-500px, 500px);
    -webkit-transform: translate(-500px, 500px);
    -moz-transform: translate(-500px, 500px);
    -ms-transform: translate(-500px, 500px);
    -o-transform: translate(-500px, 500px);
  }
  100% {
  }
}

@keyframes swoopIn {
  0% {
    transform: translateY(-500px, 500px);
    -webkit-transform: translateY(-500px, 500px);
    -moz-transform: translateY(-500px, 500px);
    -ms-transform: translateY(-500px, 500px);
    -o-transform: translateY(-500px, 500px);
  }
  100% {
  }
}

/* Main styles */

.home {
  animation-name: swoopIn;
  animation-duration: 0.25s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.home,
.mainRow,
.mainCol {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.mainRow {
  width: 100%;
  margin: 0 auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  animation-name: fadeIn, glideIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.nav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.introText {
  padding: 7.5%;
  box-shadow: inset -10px 0px 20px 1px rgba(0, 0, 0, 0.75);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -ms-transition: 0.25s;
  -o-transition: 0.25s;
  width: 80%;
}

.title {
  color: white;
  font-size: 3vw;
  animation-name: fadeIn, glideIn;
  animation-duration: 0.25s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.subtitle {
  color: white;
  font-size: 2vw;
  animation-name: fadeIn, glideIn;
  animation-duration: 0.25s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.introDescription {
  color: white;
  font-size: 1.25vw;
  animation-name: fadeIn, glideIn;
  animation-duration: 0.25s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meImg {
  position: absolute;
  max-width: 15vw;
  max-height: 35vh;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.meImg:hover {
  border: 4px solid white;
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}

.meImgSml {
  display: none;
}

/* Link Circles */

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-shadow: 10px 0px 20px 1px black;
  width: 300px;
  height: 300px;
  max-width: 7.5vw;
  max-height: 7.5vw;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.link:hover {
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
  border: 4px solid white;
}

.link:hover .linkIcon {
  opacity: 0;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}

.link:hover .linkText {
  opacity: 1;
  transition: 250ms;
  -webkit-transition: 250ms;
  -moz-transition: 250ms;
  -ms-transition: 250ms;
  -o-transition: 250ms;
}

/* Link Text */

.linkText {
  opacity: 0;
  font-size: 1vw;
  color: white;
  font-weight: bold;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

/* Link Icons */

.linkIcon {
  opacity: 1;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

/* Color link background */

.linkBox .link {
  background-color: #136ecf;
}

/* Color link icon */

.linkBox .linkIcon {
  color: #000;
}

/* Rotate and translate link boxes */

.linkBox:nth-child(1) {
  transform: rotate(103deg) translateX(5vw);
  -webkit-transform: rotate(103deg) translateX(5vw);
  -moz-transform: rotate(103deg) translateX(5vw);
  -ms-transform: rotate(103deg) translateX(5vw);
  -o-transform: rotate(103deg) translateX(5vw);
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.linkBox:nth-child(2) {
  transform: rotate(175deg) translateX(5vw);
  -webkit-transform: rotate(175deg) translateX(5vw);
  -moz-transform: rotate(175deg) translateX(5vw);
  -ms-transform: rotate(175deg) translateX(5vw);
  -o-transform: rotate(175deg) translateX(5vw);
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.linkBox:nth-child(3) {
  transform: rotate(247deg) translateX(5vw);
  -webkit-transform: rotate(247deg) translateX(5vw);
  -moz-transform: rotate(247deg) translateX(5vw);
  -ms-transform: rotate(247deg) translateX(5vw);
  -o-transform: rotate(247deg) translateX(5vw);
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.linkBox:nth-child(4) {
  transform: rotate(319deg) translateX(5vw);
  -webkit-transform: rotate(319deg) translateX(5vw);
  -moz-transform: rotate(319deg) translateX(5vw);
  -ms-transform: rotate(319deg) translateX(5vw);
  -o-transform: rotate(319deg) translateX(5vw);
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.linkBox:nth-child(5) {
  transform: rotate(391deg) translateX(5vw);
  -webkit-transform: rotate(391deg) translateX(5vw);
  -moz-transform: rotate(391deg) translateX(5vw);
  -ms-transform: rotate(391deg) translateX(5vw);
  -o-transform: rotate(391deg) translateX(5vw);
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* Rotate links */

.linkBox:nth-child(1) a {
  transform: rotate(-103deg);
  -webkit-transform: rotate(-103deg);
  -moz-transform: rotate(-103deg);
  -ms-transform: rotate(-103deg);
  -o-transform: rotate(-103deg);
}
.linkBox:nth-child(2) a {
  transform: rotate(-175deg);
  -webkit-transform: rotate(-175deg);
  -moz-transform: rotate(-175deg);
  -ms-transform: rotate(-175deg);
  -o-transform: rotate(-175deg);
}
.linkBox:nth-child(3) a {
  transform: rotate(-247deg);
  -webkit-transform: rotate(-247deg);
  -moz-transform: rotate(-247deg);
  -ms-transform: rotate(-247deg);
  -o-transform: rotate(-247deg);
}
.linkBox:nth-child(4) a {
  transform: rotate(-319deg);
  -webkit-transform: rotate(-319deg);
  -moz-transform: rotate(-319deg);
  -ms-transform: rotate(-319deg);
  -o-transform: rotate(-319deg);
}
.linkBox:nth-child(5) a {
  transform: rotate(-391deg);
  -webkit-transform: rotate(-391deg);
  -moz-transform: rotate(-391deg);
  -ms-transform: rotate(-391deg);
  -o-transform: rotate(-391deg);
}

/* Mobile Layout */

@media (max-width: 1199px) {
  .intro {
    text-align: center;
    height: 40vh;
    margin: 0;
    padding: 0;
  }

  .introText {
    margin: 0;
    padding: 3vh;
  }

  .title {
    font-size: 4vh;
  }

  .subtitle {
    font-size: 2.5vh;
  }

  .introDescription {
    font-size: 2vh;
  }

  .nav {
    height: 60vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  /* Link Circles */

  .allLinks {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .linkBox {
    padding: 0;
    margin: 0 10px;
  }

  .linkBox a {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .link {
    padding: 0;
    margin: 0;
    min-width: 10vh;
    min-height: 10vh;
  }

  /* Link Text */

  .linkText {
    opacity: 0;
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  /* Link Icons */

  .linkIcon {
    opacity: 1;
    color: white;
    font-size: 5vh;
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
  }

  /* Rotate and translate link boxes */

  .linkBox:nth-child(1),
  .linkBox:nth-child(2),
  .linkBox:nth-child(3),
  .linkBox:nth-child(4),
  .linkBox:nth-child(5) {
    transform: rotate(0deg) translateY(0) translateX(0px);
    -webkit-transform: rotate(0deg) translateY(0) translateX(0px);
    -moz-transform: rotate(0deg) translateY(0) translateX(0px);
    -ms-transform: rotate(0deg) translateY(0) translateX(0px);
    -o-transform: rotate(0deg) translateY(0) translateX(0px);
  }

  /* Rotate links */

  .linkBox:nth-child(1) a,
  .linkBox:nth-child(2) a,
  .linkBox:nth-child(3) a,
  .linkBox:nth-child(4) a,
  .linkBox:nth-child(5) a {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  .meImg {
    display: none;
  }

  .meImgSml {
    display: block;
    max-width: 20vh;
    max-height: 20vh;
    min-width: 15vw;
    min-height: 15vw;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  .meImgSml:hover {
    border: 4px solid white;
    filter: brightness(1.5);
    -webkit-filter: brightness(1.5);
  }
}
