/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swoopIn {
  0% {
    transform: translate(1500px, 1500px);
    -webkit-transform: translate(1500px, 1500px);
    -moz-transform: translate(1500px, 1500px);
    -ms-transform: translate(1500px, 1500px);
    -o-transform: translate(1500px, 1500px);
  }
  100% {
  }
}

.education {
  animation-name: fadeIn, swoopIn;
  animation-duration: 0.25s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
  min-height: 100vh;
  padding: 15vh 0vh;
}

.intro {
  padding-bottom: 7.5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title {
  color: white;
  font-size: 6vh;
  text-align: center;
}

.allEducation {
  color: white;
  text-align: center;
  position: relative;
  max-width: 100%;
  padding: 7.5vh 5vh 0vh 5vh;
  margin: 0;
}

.institutionBox {
  padding: 50px;
  margin: 0;
  box-shadow: 0px 0px 7.5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.institutionBox:hover {
  z-index: 10;
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.institutionBox:nth-child(1) {
  position: relative;
  bottom: -2.5vh;
  left: 2.5vw;
  background-color: #004d93;
}

.institutionBox:nth-child(2) {
  position: relative;
  background-color: #0a5eb1;
}

.institutionBox:nth-child(3) {
  position: relative;
  bottom: 2.5vh;
  right: 2.5vw;
  background-color: #136ecf;
}

.institution {
  font-size: 40px;
  padding: 2.5% 5%;
  margin-bottom: 5vh;
  border: 3px solid white;
}

.certContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}

.certification {
  font-size: 28px;
}

@media (max-width: 992px) {
  .institutionBox:nth-child(1) {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .institutionBox:nth-child(3) {
    position: relative;
    top: 0px;
    right: 0px;
    margin: 0 auto;
  }
}
